.tagLabel {
  display: inline-block;
  position: relative;
  left: +30px;
}
.tagContainer {
  display: inline-block;
  font-family: Oswald, sans-serif;

  .tagPicture {
    padding: 0.15em;
    border-radius: 0.45em;
    position: relative;
    left: -0.2em;
  }

  .tagCounterBody {
    display: flex;
    right: -10px;
    position: absolute;
    top: -15px;
  }

  .popularity {
    background-color: white;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 500;
    height: 24px;
    line-height: 10px;
    padding: 4px;
  }
  .tagBody {
    display: inline-flex;
    align-items: center;
    border: 3px solid #d9d9d9;
    transition: border 0.3s;
    border-radius: 0.24em;
    padding: 0.3em 0.4em;
    cursor: pointer;
    height: 38px;
    margin-right: 0.5em;
    position: relative;
  }

  .tagBody:hover {
    border: 3px solid #a1d4e4;
  }

  .name {
    display: inline-block;
    text-wrap: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
  }

  .tagTrend {
    height: 24px;
    font-size: 14px;
    font-weight: 700;
    line-height: 10px;
    padding: 7px;
  }

  .tagCloseButton {
    position: absolute;
    right: 4px;
    top: 11px;
  }
}
