.tagLabel {
  display: inline-block;
  position: relative;
  left: +30px;
}
.tagContainer {
  display: inline-block;
  font-family: 'Inter', Courier, monospace;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: -0.01em;

  .tagPicture {
    border-radius: 0.45em;
    position: relative;
    max-height: 38px;
  }

  .tagCounterBody {
    border-radius: 0.01em;
    position: absolute;
    top: -15px;
    right: -10px;
  }
  .tagCounterBody:hover {
    cursor: pointer;
  }
  .tagCounterBody:hover .Tag_popularity {
    background: var(--primary-color)!important;
  }
  .popularity {
    background-color: white;
    font-size: 10px;
    font-weight: 500;
    height: 24px;
    line-height: 10px;
    padding: 4px;
  }

  .tagBody {
    position: relative;
    cursor: default;
    display: inline-flex;
    align-items: center;
    background-color: var(--color-background-brand-tag);
    border-radius: var(--p-border-radius-200);
    height: calc(var(--w-space-xxxl));
    margin-right: calc(var(--w-space-s));
  }
  :not(.tagLink) {
    cursor: pointer;
  }

  .tagBody:hover {
    background-color: #9c8af1;
  }

  .tagBodyText {
    height: calc(var(--w-space-xxl));
    background: white;
    margin: 4px;
    border-radius: var(--p-border-radius-tag);
    line-height: calc(var(--w-space-xxl));
    vertical-align: middle;
    position: relative;
    padding-right: var(--w-space-s);
  }

  .tagBodyText img {
    width: var(--w-space-xxl);
    margin-right: var(--w-space-xs);
  }

  .name {
    display: inline-block;
    text-wrap: nowrap;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--w-font-size-tag);
    line-height: var(--w-space-xxl);
    letter-spacing: var(--p-font-letter-spacing-tag);
  }
  .tagBodyText img {
    padding: var(--w-space-xxs);
    margin-left: var(--w-space-xs);
  }

  .tagTrend {
    height: 24px;
    font-size: 14px;
    font-weight: 700;
    line-height: 10px;
    padding: 7px;
  }

  .tagCloseButton {
    position: absolute;
    right: 4px;
    top: 11px;
  }

  .tagLink {
    cursor: pointer!important;
  }
  .tagLink .tagNameBody{
    text-decoration: underline;
  }
  .tagThumbnail {
    margin-left: 0px;
  }
  .tagThumbnail img{
    color: transparent;
    object-fit: cover;
    margin-left: 0px;    
    width: var(--w-space-xxl);
    height: var(--w-space-xxl);
  }  
  .tagNameBody {
    margin-left: var(--w-space-s);
    color: var(--color-text-brand-tag);
  }
  .detailsColumn textarea {
    all: unset;
    font-size: var(--w-font-size-xxl);
    font-weight: var(--w-font-weight-book);
    padding: var(--w-space-none);
    line-height: var(--w-line-height-normal);
    height: var(--w-space-xxl);
  }
}