.personHeader {
  display: flex;
  margin-top: 2em;

  .imageAndSocialColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: calc(var(--w-space-l) * var(--w-base-rem) / 2);
    margin-right: var(--w-space-l);
  }
  .imageAndSocialColumn img {
    width: var(--c-avatar-size-150);
    height: var(--c-avatar-size-150);
    object-fit: cover;
  }
  .socialIcons {
    display: flex;
    margin-top: var(--w-space-s);
    justify-content: center;
  }
  .socialIcons svg {
    margin-right: var(--w-space-m);
  }
  .socialIcons svg:last-child {
    margin-right: 0px;
  }
  .detailsColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .detailsColumn h1 {
    font-size: var(--w-font-size-xxl);
    min-height: var(--w-space-xxxl);
    line-height: var(--w-line-height-normal);
  }
}
.genericTextArea::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-slate-100);
}
.genericTextArea {
  /* Overwrite default styles for textarea */
  max-width: 100%;
  border: none;
  outline: none;
  resize: none; /* Disable manual resizing by the user */
  overflow: hidden;

  cursor: pointer;
  border-radius: var(--p-border-radius-tag);
  line-height: calc(var(--w-space-xxl));
  padding: 0px var(--w-space-s);
  font-size: var(--w-font-size-tag);
  line-height: var(--w-space-xxl);
  letter-spacing: var(--p-font-letter-spacing-tag);  
  /* box-shadow: none !important; */
  visibility: visible;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: inline-grid;
  grid-area: 1 / 1 / 2 / 3;
  grid-template-columns: 0 min-content;
  box-sizing: border-box;
  color: var(--primary-brand-color);
  font-size: var(--w-font-size-tag);
  padding: 0px var(--w-space-s);
  background-color: var(--primary-white);
  border-radius: var(--p-border-radius-tag);
  margin: 8px 0px;
  -webkit-transition: all 0ms;
  transition: all 0ms;
  border: none;
  outline: none;
  box-shadow: 0px 0px 0px 3px var(--color-background-brand-tag);
}
/* TODO: Movo all header component css in one file */
.textPostTitleEdit {
  font-size: var(--w-font-size-xxl);
  font-weight: var(--w-font-weight-book);
  transform: translateY(0.15em);
  line-height: var(--w-line-height-heading);
  background: var(--primary-white);
  box-shadow: inset 0px 0px 0px 4px var(--color-background-brand-tag);
  border-radius: var(--p-border-radius-tag);
  margin-bottom: 8px;
}

.InputRequired {
  border-bottom: 2px solid var(--color-background-required) !important;
}

.textPostSubtitle {
  font-size: var(--w-font-size-tag);
  font-style: italic;
  transform: translateY(0.55em);
  background: var(--primary-white);
  box-shadow: inset 0px 0px 0px 4px var(--color-background-brand-tag);
  border-radius: var(--p-border-radius-tag);  
  margin-bottom: 8px;
}

.textPostTitleEdit:focus, .textPostSubtitle:focus {
  background: var(--primary-white);
  box-shadow: inset 0px 0px 0px 4px var(--color-background-brand-tag);
  border-radius: var(--p-border-radius-tag);  
}

.website {
  background: var(--primary-brand);
  border-radius: var(--p-border-radius-full);
}

.socialIcons svg {
  cursor: pointer;
}