.personHeader {
  display: flex;
  margin-top: 2em;

  .imageAndSocialColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: calc(var(--w-space-l) * var(--w-base-rem) / 2);
    margin-right: var(--w-space-l);
  }
  .imageAndSocialColumn img{
    width: var(--c-avatar-size-150);
    height: var(--c-avatar-size-150);
    object-fit: cover;
  }
  .socialIcons {
    display: flex;
    margin-top: var(--w-space-s);
    justify-content: center;
  }
  .socialIcons svg{
    margin-right: var(--w-space-m);
  }
  .socialIcons svg:last-child{
    margin-right: 0px;
  }
  .detailsColumn {
    display: flex;
    flex-direction: column;
  }
  .detailsColumn h1 {
    font-size: var(--w-font-size-xl);
  }
}
