.postHeader {
  width: 100%;
  display: flex;
  margin-top: 2em;

  .imageAndAuthor {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2em;
    width: 280px;
  }
  .author {
    width: 100%;
    display: flex;
    margin-top: 0.5em;
    align-items: center;
  }
  .detailsColumn {
    flex-grow: 1;
    width: auto;
    display: flex;
    flex-direction: column;
  }
}

.recommandations {
  border-top: 1px solid #d9d9d9;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 0.5em;
  padding-top: 0.5em;
  width: 100%;
}

.imageAndButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2em;
  margin-bottom: 1em;
  flex-shrink: 0;
}

.genericTextArea {
  /* Overwrite default styles for textarea */
  max-width: 100%;
  border: none;
  outline: none;
  resize: none; /* Disable manual resizing by the user */
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 1em;
  height: 1.1em;
  /* box-shadow: none !important; */
}

.InputRequired {
  border-bottom: 2px solid var(--color-background-required) !important;
}

.textPostTitleEdit {
  font-size: var(--w-font-size-xxl);
  font-weight: var(--w-font-weight-book);
  transform: translateY(0.15em);
  /* height: 1.1em; */
}

.textPostSubtitle {
  font-size: var(--w-font-size-tag);
  line-height: var(--w-line-height-heading);
  font-style: italic;
}
.personTagPopularity {

}