.postItem {
  margin: 2em 0;
  position: relative;
  display: flex;
  width: 100%;
}

.postImageAndTagContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
}

.postImage {
  flex-shrink: 0;
  height: 124px;
  width: 124px;
  border-radius: var(--p-border-radius-800);
  object-fit: cover;
}

.postContent {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}
.postRecommandations {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 0.5em;
}
.postInnerText {
  height: 40px;
}
